<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" id="min-width" lang="fr" xml:lang="fr" xmlns:og="http://opengraphprotocol.org/schema/">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{$TITLE_PAGE}{$TIRET}{$SITENAME}</title>
        <meta name="robots" content="noindex, nofolow" />
        <meta name="title" content="{$TITLE_PAGE}{$TIRET}{$SITENAME}">
        <meta name="description" content="{$DESCRIPTION}">
        <meta name="keywords" content="gsb, medicaux">
        <meta name="copyright" content="BTS SIO - St-Adjutor de Vernon">
        <meta name="author" content="Team6">

        <!-- FAVICON -->
        <link rel="icon" type="image/png" href="templates/design/images/favicon.png">
        <link rel="shortcut icon" href="templates/design/images/favicon.png">

        <!-- CSS -->
        <link rel="stylesheet" href="assets/fontawesome/css/all.css">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="templates/design/connexion.css" type="text/css" media="all">
	</head>
	<body>
        <div class="connexion">
            <p class="text-center">Mince, la page n'existe pas ou plus</p>
            <a href="./"><button type="submit" name="submit" class="btn btn-secondary w-100">Accueil du site</button></a>
        </div>
        <script type="text/javascript" src="assets/bootstrap/js/jquery-3.5.1.slim.min.js"></script>
        <script type="text/javascript" src="assets/bootstrap/js/popper.min.js"></script>
        <script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>