	        	</div>
	        	<div class="prefooter">
	        		Lundi 01 janvier 2000
	        	</div>
	        	<div class="footer">
	        		Tous droits réservés<br>
	        		Powered by BTS SIO - Team6
	        	</div>
	        <script type="text/javascript" src="templates/design/javascripts.js"></script>
	        <script type="text/javascript" src="assets/bootstrap/js/jquery-3.5.1.slim.min.js"></script>
	        <script type="text/javascript" src="assets/bootstrap/js/popper.min.js"></script>
	        <script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
	    </div>
    </body>
</html>