{include file="overall_header.html"}
<!--Navigation-->
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active">{$SITENAME}</li>
	</ol>
</nav>

<!--Bouton qui envoie sur la page "production_enregis"-->

<a class="btn btn-primary" href="#" role="button">Enregistrer</a>

<!--Bouton qui permet de modifier le contenu du tableau-->

<a class="btn btn-primary" href="#" role="button">Modifier</a>

<!--En-tête du tableau qui répertorie le contenu-->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Num_Lot</th>
      <th scope="col">DateFab</th>
      <th scope="col">Nom_med</th>
    </tr>
  </thead>

{include file="overall_footer.html"}